
   .nav-wrapper {
     max-width: 600px; 
     margin: 0 auto;

   }
   .nav-link{
     color:#f9f9fa;
   }
   .nav-link.active{
    background-color: rgb(9, 117, 240);
   }
   .nav-link {
    color: #fdfdff;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 20px; 
    transition: background-color 0.3s ease, color 0.3s ease;
  }