
   .nav-wrapper {
     max-width: 600px;  /* Adjust this width as needed */
     margin: 0 auto;    /* Centers the navbar */
   }
   .nav-link{
     color:#f9f9fa;
   }
   .nav-link.active{
    background-color: hotpink;
   }