.demo {
     background-color: rgba(6, 182, 235, 0.852);
     min-width: 100%;
     min-height: 100vh;
     position: fixed;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
   }
   .demo h1 {
    color: rgb(246, 242, 242);
  }
   
   .box {
     min-height: fit-content;
     min-width: auto;
     text-align: center;
   }
   
   .demo img {
     border-radius: 20px;
     height: 400px;
     width: 700px;
   }
   
   .demo h1 {
     text-shadow: 2px 2px rgb(109, 114, 116);
     font-family:Verdana ;
     margin-bottom: 20px;
   }
   
   .image-container {
     position: relative;
     display: inline-block;
   }
   
   .login-button {
     position: absolute;
     bottom: 200px;
     right: 120px;
     padding: 10px 20px;
     background-color: rgba(6, 182, 235, 0.852);;
     color: white ;
     border: none;
     border-radius: 6px;
     font-weight: bold;
     cursor: pointer;
     box-shadow: 0 4px 6px rgba(0,0,0,0.3);
     transition: background-color 0.3s ease;
   }
   
   .login-button:hover {
     background-color: #0482b4;
   }
   .modal-login {
    background-color: #53c0e1;
    color: white;
    font-weight: bold;
    transition: background-color 0.3s ease;
    border: none;
  
   }
   .modal-login:hover {
    background-color: #0298d3 ;
   }
   
  a {
    color: #007bff;
    cursor: pointer;
    text-decoration: underline;
  }