<div class="pending-wrapper">
  <h3 class="title">Pending Orders</h3>

  <div *ngIf="orders.length > 0; else noPending">
    <div *ngFor="let order of orders" class="order-card">

      <!-- Status badge -->
      <span class="status-badge danger">
        {{ order.status }}
      </span>

      <div class="order-body">
        <div class="order-columns">
          <!-- Column 1: Customer Info -->
          <div class="order-col">
            <p><strong>Order ID:</strong> {{ order.id }}</p>
            <p><strong>Customer:</strong> {{ order.customerName }}</p>
            <p><strong>Email:</strong> {{ order.user.email }}</p>
            <p><strong>Phone:</strong> {{ order.phone }}</p>
             <p *ngIf="order.orderDate"><strong>Date:</strong> {{ order.orderDate | date:'medium' }}</p>
          </div>

           <!-- Middle Column -->
          <div class="order-col">
            <p><strong>Books Ordered:</strong></p>
            <ul>
              <li *ngFor="let book of order.bookList">{{ book }}</li>
            </ul>
          </div>

          <!-- Column 2: Book & Payment Info -->
          <div class="order-col">
            <p><strong>Total:</strong> ₹{{ order.totalAmount }}</p>
            <p><strong>Payment:</strong> {{ order.paymentMethod }}</p>
            <p><strong>Address:</strong> {{ order.address }}</p>

          </div>
        </div>
      </div>
    </div>
  </div>

  <ng-template #noPending>
    <p class="no-orders">No pending orders found.</p>
  </ng-template>
</div>