<div class="orders-container">
  <h4>All Orders</h4>

  <div *ngIf="allOrders.length > 0; else noOrders">
    <div *ngFor="let order of allOrders">
      <div class="order-card">

        <span
          class="status-badge"
          [ngClass]="{
            'bg-danger': order.status === 'Pending',
            'bg-success': order.status === 'Completed'
          }"
        >
          {{ order.status }}
        </span>

        <div class="order-row">
          <!-- Left Column -->
          <div class="order-col">
            <p><strong>Order ID:</strong> {{ order.id }}</p>
            <p><strong>Customer:</strong> {{ order.customerName }}</p>
            <p><strong>Email:</strong> {{ order.user.email }}</p>
            <p><strong>Phone:</strong> {{ order.phone }}</p>
           <p *ngIf="order.orderDate"><strong>Placed On:</strong> {{ order.orderDate | date:'medium' }}</p>
          </div>

          <!-- Middle Column -->
          <div class="order-col">
            <p><strong>Books Ordered:</strong></p>
            <ul>
              <li *ngFor="let book of order.bookList">{{ book }}</li>
            </ul>
          </div>

          <!-- Right Column -->
          <div class="order-col">
            <p><strong>Total:</strong> ₹{{ order.totalAmount }}</p>
            <p><strong>Payment:</strong> {{ order.paymentMethod }}</p>
             <div class="mt-2" *ngIf="order.status === 'Pending'">
                <label for="status-{{ order.id }}"><strong>Change Status:</strong></label>
                <select
                  class="form-select"
                  [value]="order.status"
                  (change)="onStatusChange(order.id, $event)"
                  [id]="'status-' + order.id"
                >
                  <option value="Pending" disabled>Pending</option>
                  <option value="Completed">Completed</option>
                </select>
              </div>

            </div>
          </div>
        </div>

      </div>
    </div>


  <ng-template #noOrders>
    <p style="text-align: center; color: #6c757d;">No orders found.</p>
  </ng-template>
</div>
