:host {
  display: block;
  background-color: #43b0dc;
  min-height: 100vh;
  color: white;
  padding: 1rem;
}
.dashboard-container {
  background-color: #43b0dc;
  min-height: 100vh;
  color: white;
  padding: 1rem;
}