.text-primary {
  color: #00b0ff !important;
}

.login-container {
  display: flex;
  height: 100vh;
  font-family: 'Segoe UI', sans-serif;

  .left-panel {
  flex: 1;
  background-color:#00b0ff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  .logo {
    width: 300px;
    height: auto;
    margin-bottom: 20px;
    border-radius: 35%;
    margin-bottom: 20px;

  }

  .loading-text {
    color: white;
    font-size: 29px;
    font-weight: 650;
  }
}

  .right-panel {
    flex: 1;
    background-color: #fff;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;

    .welcome-text {
    color: #00b0ff;
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 3rem;
    text-align: center;
  }

    .form-wrapper {
      width: 100%;
      max-width: 400px;

      .top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;

  .register-link {
    font-weight: bold;
    cursor: pointer;
    color: #00b0ff;
    font-size: 1.5rem;
    line-height: 1.5; // ensures vertical alignment
    text-decoration: none; // removes underline
  }

  .login-title {
    font-weight: bold;
    color: #00b0ff;
    font-size: 1.5rem;
    line-height: 1.5; 
    margin: 0;
  }

      }

      .form-group {
        margin-bottom: 20px;

        label {
          font-weight: 500;
          display: block;
          margin-bottom: 5px;
        }

        input {
          width: 100%;
          padding: 10px;
          border: none;
          border-bottom: 2px solid #000;
          font-size: 16px;
          outline: none;
        }

        &.position-relative {
          .toggle-password {
            position: absolute;
            right: 10px;
            top: 35px;
            cursor: pointer;
            font-size: 16px;
          }
        }
      }

      .forgot {
        display: block;
        color: #00b0ff;
        text-align: right;
        margin-bottom: 25px;
        cursor: pointer;
      }

      .btn-primary {
        background-color: #00b0ff;
        border: none;

        &:hover {
          background-color: #0484ec;
        }
      }
    }
  }
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100%;
  height: 100%;
  background-color: rgba(76, 73, 73, 0.5);

  .modal-content-custom {
    background-color: #fff;
    border-radius: 12px;

    h5 {
      color: #00b0ff;
    }

    .btn-primary {
      background-color: #00b0ff;
      border: none;

      &:hover {
        background-color: #048bec;
      }
    }
  }
}
